*{
    padding: 0;
    margin: 0;
}
.homes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./logo.svg') ;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: bottom;
 
    }
 
  
