.navbar{
display: flex;
background-color: rgb(10, 10, 10);
height: 3.7vw;
color: whitesmoke;

}
ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15vw;
    list-style-type: none;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
  }
  ul a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5vw;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    
  }
    ul a:hover {
        color: #61dafb;
    }